.cars-grid-section {
  padding-top: 100px;
  padding-bottom: 120px;

  & .cars-grid-title {
    @include title-second;
    text-align: center;
    margin-bottom: 74px;
    color: $color-secondary-100;
    line-height: 1.5;
  }
}

// dropdown section
.dropdown-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;

  & .btn.dropdown-toggle {
    position: relative;
    @include btn-secondary;
    padding: 13.44px 0 12.48px 16px;
    width: 170px;
    line-height: 1.33;
    text-align: start;
    color: $color-primary-100;
    background-color: transparent;
    border: 1px solid $color-secondary-300;
    border-radius: 15px;

    &::after {
      position: absolute;
      top: 20px;
      right: 16px;
      width: 13px;
      height: 13px;
      border: 0;
      background-repeat: no-repeat;
      background-image: url("../assets/images/arrowhead-down.svg");
    }

    &:hover, &:focus {
      font-weight: 600;
      box-shadow: none;
    }
  }

  & ul.dropdown-menu.show {
    @include dropdown;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $color-primary-200;
    border: 1px solid $color-secondary-300;
    border-radius: 15px;
    transform: translate3d(0px, 0px, 0px) !important;

    & > li:first-child {
      @include btn-secondary;
      font-weight: 600;
      padding-top: 4px;
    }

    & > li {
      padding-left: 16px;

      &:hover, &:hover {
        color: $color-primary-300;
      }
    }
  }

  & > .btn.btn-primary {
    @include btn-secondary;
    padding: 9px 118px;
    color: $color-primary-200;
    background-color: $color-primary-300;
    border-color: $color-primary-300;
    border-radius: 15px;
  
    &:hover, &:focus {
      color: $color-primary-300;
    background-color: transparent;
    border-color: $color-primary-300;
    box-shadow: none;
    }
  }
}

// filter container 
.filter-container {
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.33;

  & > .form-check {
    min-height: auto;
    display: flex;
    align-items: center;

    & > input {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      border-color: $color-secondary-200;
      box-shadow: none;

      &:checked {
      background-color: $color-primary-300;
      border-color: $color-primary-300;
      }
    }

    & > .form-check-label {
      color: $color-secondary-200;
      vertical-align: middle;
    }
  }
}

// sorting container
.sorting-container {
  display: flex;
  column-gap: 37px;
  color: $color-primary-100;
}

.sorting-container > .form-select {
  width: 180px;
  padding: 0;
  align-items: flex-start;
  color: $color-secondary-200;
  background-image: none;
  border: none;
  border-radius: 0;
}

.sorting-container > label {
  position: relative;

  &::after {
    position: absolute;
    left: 56px;
    content: "1";
    color: transparent;
    background-image: url("../assets/images/svg/ascending.svg");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
  }
}

// cars cards
.cars-grid > .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 20px;
  justify-content: center;
}

.cars-grid .col {
  flex: 0;
}

.cars-grid .card {
  background-color: $color-secondary-500;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

  &:hover .card-title, &:focus .card-title {
    text-decoration: underline;

    & > span {
      text-decoration: none;
    }
  }
}

.cars-grid img {
  margin-bottom: 20px;
}

.cars-grid .card-body {
  padding: 0 20px 35px 20px;
}

.cars-grid .card-body > .card-title {
  @include title-sixth;
  line-height: 1.35;
  margin-bottom: 13px;

  & > span {
    color: $color-secondary-200;
    margin-right: 8px;
  }
}

.cars-grid .card-body > .card-text {
  margin-bottom: 26px;
  @include span-secondary;
  color: $color-secondary-200;
  line-height: 1.36;
}

.cars-grid .card-body > .card-price {
  @include span-primary;
  color: $color-primary-100;
  line-height: 1.35;
}

.cars-grid .card-body .card {
  position: relative;
}

.cars-grid .card .sold-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include title-second;
  line-height: 1.5;
  color: $color-secondary-500;
}

.cars-grid .card .new-text {
  position: absolute;
  top: 176px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 66.5px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-100;
  @include title-second;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-secondary-500;
}
